
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
img{
    max-width: 100%;
}
/* shared style  */
 .display-flex{
    display: flex;
 }
 /* dark 02 */
 .text-gray{
    color: #424242;
 }
 /* dark 03 */
 .text-light-gray{
    color: #727272;
 }
.bg-light{
 background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
}

/* related style */

/* navbar related style */
.navbar{
justify-content: space-between;
align-items: center;

}
.nav-item{
    list-style: none;
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

}
.navbar, .banner{
    /* max-width: 1440px; */
    max-width: 80%;
    margin: 0 auto;

}
/* banner releted style */
.brand-name{
    font-size: 3rem;
    font-weight: 700;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;

}


.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner img{
    width: 100%;
}

/*responsive media query */

@media screen and (max-width:576px){
    .navbar, .nav-link{
        flex-direction: column;
    }
}